<header class="mb-16 p-4 border-b sm:mb-16 sm:p-4 sm:border-b">
  <nav class="flex items-center flex-col sm:flex sm:items-center sm:flex-col lg:flex-row lg:justify-between">
    <a class="text-3xl block mb-4 sm:text-3xl sm:block sm:mb-4" href="/">MyBrary</a>
    <ul class="flex flex-col gap-4 justify-center items-center text-xl px-3 sm:flex sm:flex-col sm:gap-4 sm:justify-center sm:items-center sm:text-xl sm:px-3 lg:text-lg lg:flex-row">
      <li class="border-b p-2 w-full sm:p-2 sm:w-full lg:w-fit sm:border-b lg:border-none  sm:hover:bg-gray-500 sm:transition-all sm:rounded"><a class="flex justify-center items-center" href="/authors">Authors</a></li>
      <li class="border-b p-2 w-full sm:p-2 sm:w-full lg:w-fit sm:border-b lg:border-none sm:hover:bg-gray-500 sm:transition-all sm:rounded"><a class="flex justify-center items-center" href="/authors/new">Add Authors</a></li>
      <li class="border-b p-2 w-full sm:p-2 sm:w-full lg:w-fit sm:border-b lg:border-none sm:hover:bg-gray-500 sm:transition-all sm:rounded"><a class="flex justify-center items-center" href="/books">Books</a></li>
      <li class="p-2 w-full sm:p-2 sm:w-full lg:w-fit sm:border-none sm:hover:bg-gray-500 sm:transition-all sm:rounded"><a class="flex justify-center items-center" href="/books/new">Add Books</a></li>
    </ul>
  </nav>
</header>