<h2 class="text-xl mb-4">Update Author</h2>
<form class="border w-fit p-2 rounded" action="/authors/<%= author.id %>?_method=PUT" method="post">
  <%- include('./_form_fields') %>
  <a class="px-2 hover:bg-red-500 rounded transition-all" href="/authors/<%= author.id %>">Cancel</a>
  <button class="bg-gray-400 px-2 hover:bg-yellow-500 rounded transition-all" type="submit">Update</button>
</form>
