<h2 class="text-xl mb-2">New Author</h2>
<form class="border max-w-fit p-2 rounded" action="/authors" method="post">
  <%- include('./_form_fields') %>
  <div class="flex justify-end">
  <a class="px-3 py-1 hover:bg-red-400 rounded transition-all" href="/authors">Cancel</a>
  <button class="px-3 py-1 bg-gray-400 hover:bg-green-400 rounded transition-all" type="submit">Create</button>
  </div>
</form>
